<div id="demo" class="index" style='margin-top: 38px;'>
  <%- if params[:query].present? %>
    <%= render 'partials/table_for_search' %>
  <%- else %>
    <%= render 'partials/table_without_search' %>
  <% end %>
</div>
