<div id='background'></div>
<div class='navbar navbar-fixed-top'>
  <nav class='navbar-inner header'>
    <div class='container'>
      <div class='brand'>
        IN THE CLOUDS <i class="fa fa-cloud" style="text-shadow: 1px 1px white, -1px -1px #666;"></i>
      </div>
      <ul class='nav pull-right'>
        <li>
          <a class='nav-link'>
            TUTORIALS
          </a>
        </li>
        <li>
          <a class='nav-link'>
            MODELS
          </a>
        </li>
        <li>
          <a class='nav-link'>
            PLACES
          </a>
        </li>
        <li class='dropdown'>
          <a class='dropdown-toggle nav-link' data-toggle='dropdown'>
            DROP
            <ul class='dropdown-menu text-center'>
              <li>
                <a>
                  Example 1
                </a>
              </li>
              <li>
                <a>
                  Example 2
                </a>
              </li>
              <li>
                <a>
                  Example 3
                </a>
              </li>
            </ul>
          </a>
        </li>
      </ul>
      <div class='triangle-down center'>
        <p>
          <i class='fa fa-chevron-down fa-2x isDown' id='toggle'></i>
        </p>
      </div>
    </div>
  </nav>
  <br>
</div>