<!DOCTYPE html>
<html>
<head>
  <title>Accounts</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>
<body>
<div class='navbar navbar-fixed-top'>
  <nav class='navbar-inner header'>
    <div class='container'>
      <div class='brand'>
        IN THE CLOUDS

        <ul class='nav pull-right' style="display: inline;">
          <li>
            <a class='nav-link'>
              TUTORIALS
            </a>
          </li>
          <li>
            <a class='nav-link'>
              MODELS
            </a>
          </li>
          <li>
            <a class='nav-link'>
              PLACES
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<%= yield %>
</body>
</html>
